* {
    box-sizing: border-box;
    margin: 0;
}

header {
}

iframe {
    margin: 0;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;   
}

main {
    width: 900px;
    margin: auto;
    opacity: 1;
}

iframe {
    width: 100%;
    height: 515px;
}

ul {
    list-style-type: none;
    background-color: #251010;
    margin: 0;
    text-align: center;
    position: fixed;
    width: 100%;
    padding: 0;
}

.fix {
    background-color: #251010;
    padding: 15px;
    margin-top: -4px;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 1.6em;
}

li {
    display: inline-block;
    padding: 7px 20px;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 1.3em;
}

li:hover {
    background-color: #444444;
}

a li {
    color: #5cf236;
}

li a.active {
    color: yellow;
    font-weight: 900;
}


.columnleft, .columnright {
    float: left;
    width: 60%;
    padding: 10px;
    background-color: #251010;
    color: white;
    height: 435px;
}

.columnright {
    width: 40%
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    font-family: 'Saira Semi Condensed', sans-serif;
    color: #5cf236;
    text-align: center;
    margin: 0;
}

h1.bar {
    background-color: #251010;
    padding: 15px 0 10px 0;
}

.quote {
    font-style: italic;
    text-align: center;
    font-size: 1.15em;
    font-weight: 900;
    color: #5cf236;
    padding: 10px 45px 30px;
}

.script {
    font-size: 1.1em;
    background-color: #dddddd;
    padding: 12px 20px;
}

.schedule {
    padding: 25px;
}

h4 {
    width: 100%;
    background-color: #251010;
    color: #5cf236;
    text-align: center;
    padding: 10px;
    margin: 0;
}

p {
    font-family: sans-serif;
    color: #251010;
}

side {
    display: inline-block;
    color: white;
    width: 100px;
}

.sponsorsleft {
    margin: 10px 100px;
}

.sponsorsright {
    margin: 10px 0px;
}

#thispage {
    background-color: #5cf236;
    color: black;
}

.heading {
    background-color: #251010;
    color: #5cf236;
    float: left;
}