/******************************************************
* This CSS sheet applies specifically to mobile 
* devices like cell phones. These settings should only
* display if the device's pixel density is greater 
* than a ration of 1.
******************************************************/

* {
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: 'docktrinregular';
    src: url('../.fonts/docktrin-webfont.woff2') format('woff2'),
    url('../.fonts/docktrin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
    background-color: #251010;
    width: 100%;
    font-size: 1.5em;
}

body {
    background-color: #aad400;
}

main {
    width: 100%;
}

#start {
    display: none;
}

/******************************************************
* The "start" class introduces a margin from the top 
* of the page because the fixed title and navigation
* bar sit on top of the rest of the page content.
******************************************************/

/* Page titles */
h1 {
    font-family: 'docktrinregular';
    font-weight: normal;
    font-style: normal;
    color: #aad400;
    text-align: center;
    font-size: 2em;
    padding: 15px;
    margin: 0;
    line-height: 70px;
}

/* Heading bars */
h2 {
    background-color: #251010;
    padding: 19px 0 0;
    font-size: 2em;
    font-family: 'docktrinregular';
    font-weight: normal;
    font-style: normal;
    color: #aad400;
    text-align: center;
    margin: 0;
}

h3 {
    font-family: roboto;
    font-weight: 900;
    font-size: 20px;
}

/* Navigation Bar */
ul#navigation {
    list-style-type: none;
    background-color: #251010;
    margin: 0;
    text-align: center;
    width: 100%;
    padding: 0;
    font-size: .5em;
}

li.navbuttons {
    display: inline-block;
    padding: 3px 20px;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 1.5em;
}

li.navbuttons:hover {
    background-color: #664444;
}

a li {
    color: #aad400;
}

li a.active {
    color: yellow;
    font-weight: 900;
}


/******************************************************
* These are the CSS properties to create the box 
* templates. Default column widths are 25% and 75%.
******************************************************/
#movie {
    z-index: -1;
    margin: 0;
}

.columnleft, .columnright {
    color: white;
}

.columnleft2, .columnright2 {
    color: #251010;
}

.boximage {
    display: none;
}

.boximagehome {
    display: none;
}

/* This is the container for boxes */
.row, .row2 {
    background-color: #251010;
    margin: 0 0 3px 0;
    padding: 20px;
    
}

.row2 {
    background-color: white;
}

.row:after, .row2:after {
    content: "";
    display: table;
    clear: both;
}

/* A horizontal line break */
.line {
    border-bottom: solid #251010 1px;
    margin: 20px 0;
}

/******************************************************
* Below are the different styles for paragraph content
* text ranging from light text on dark backgrounds, 
* dark text on light backgrounds, special green text
* and other varieties including link text. None of the
* heading text is found below this line.
******************************************************/

.lighttext, .darktext {
    font-size: 1.1em;
    text-align: justify;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.3em;
    font-family: roboto, arial, sans-serif;
}

.lighttext {
    color: white;
}

.lighttext a {
    color: white;
}

.darktext {
    color: #251010;
}

.greentext {
    font-style: italic;
    text-align: center;
    font-size: 1.15em;
    color: #aad400;
    margin: 0 45px 20px;
}

#specialtext {
    font-size: 1.5em;
    font-style: normal;
    margin: 0;
}

.backdrop {
    background-color: #251010;
}

.calendar {
    color: white;
}

/******************************************************
* Used to highlight active navigation bar tab.
******************************************************/
.thispage {
    background-color: #aad400;
    color: black;
}

footer {
    width: 100%;
    background-color: #251010;
    color: #aad400;
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 1.2em;
    font-family: roboto;
}

.sponsors {
    width: 100px;
    margin: 10px;
    max-height: 50px;
}

/******************************************************
* CSS for boot camp related items
******************************************************/
#bootcampbar {
    display: none;
    background-color: black;
    padding: 5px 0 0;
    width: 100%;
    text-align: center;
    margin: auto;
    font-family: roboto;
    border-radius: 10px;
    border: solid #251010 2px;
}

#bootcampbar:hover {
    border: solid #aad400 2px;
}

html {
    scroll-behavior: smooth;
}

#bcinfo {
    text-align: center;
    font-size: 22px;
    color: #aad400;
    display: none;
    border-top: solid #aad400 2px;
    border-bottom: solid #aad400 2px;
    padding: 7px 0;
}

#regfee, #onseason {
    display: none;
}

#password {
    border-radius: 25px;
    padding: 5px;
    font-size: 18px;
    color: #aad400;
}

.save, .edit {
    font-size: 14px;
    background-color: #aad400;
    color: black;
    border-radius: 100px;
    padding: 0 7px;
}

.save {
    font-size: 20px;
    padding: 0 10px;
    margin-top: 10px;
}

#mapcontainer {
    width: 100%;
    margin: auto;
}

/****************************************************************
* Navigation menu hamburger style
****************************************************************/
.icon {
    display: none;
}

@media only screen and (min-resolution: 1.1dppx) {
    nav .icon {
        display: none;
    }

    .icon {
        color: #aad400;
    }

    .topnav a:not(:first-child) {display: none;}

    .topnav a.icon {
        float: right;
        display: block;
        text-decoration: none;
    }

    a.icon:hover {
        color: #aad400;
    }
    
    .topnav.responsive {position: relative;}

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }

    .navbuttons {
        width: 90%;
    }
    
    body {
        zoom: 250%;
    }
}