@media only screen and (min-width: 900px) and (max-resolution: 1.25dppx) {

* {
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: 'docktrinregular';
    src: url('../.fonts/docktrin-webfont.woff2') format('woff2'),
    url('../.fonts/docktrin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
    background-color: #251010;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    font-size: 1.5em;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    zoom: 0%;
}

main {
    width: 900px;
    margin: auto;
    opacity: 1;
}
    
#start {
    display: block;
    
}
    
.spLogos {
    display: inline;
}
    
#contact1 {
    width: 35%
}    

#contact2 {
    width: 65%
}
    
/******************************************************
* The "start" class introduces a margin from the top 
* of the page because the fixed title and navigation
* bar sit on top of the rest of the page content.
******************************************************/
#start {
    margin: 175px;
    line-height: 0;
}

/* Page titles */
h1 {
    font-family: 'docktrinregular';
    font-weight: normal;
    font-style: normal;
    color: #aad400;
    text-align: center;
    font-size: 3em;
    padding: 15px;
    margin: 0;
}

/* Heading bars */
h2 {
    background-color: #251010;
    padding: 19px 0 0;
    font-size: 2.5em;
    font-family: 'docktrinregular';
    font-weight: normal;
    font-style: normal;
    color: #aad400;
    text-align: center;
    margin: 0;
}

h3 {
    font-family: roboto;
    font-weight: 900;
    font-size: 24px;
}

/* Navigation Bar */
ul#navigation {
    list-style-type: none;
    background-color: #251010;
    margin: 0;
    text-align: center;
    width: 100%;
    padding: 0;
    font-size: .5em;
}

li.navbuttons {
    display: inline-block;
    padding: 3px 20px;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 1.5em;
}

li.navbuttons:hover {
    background-color: #664444;
}

a li {
    color: #aad400;
}

li a.active {
    color: yellow;
    font-weight: 900;
}

/******************************************************
* These are the CSS properties to create the box 
* templates. Default column widths are 25% and 75%.
*******************1.***********************************/

.columnleft, .columnright{
    width: 75%;
    float: left;
    color: white;
    padding: 0 35px 0 0;
}
    
.homeL {
    width: 40%
}

.columnright {
    width: 25%;
    padding: 0;
}

.homeR {
    width: 60%
}
    
.columnleft2, .columnright2 {
    width: 25%;
    float: left;
    color: #251010;
    padding: 0 35px 0 0;
}

.columnright2 {
    width: 75%;
    padding: 0;
}

.boximage {
    width: 100%;
    display: block;
}

.boximagehome {
    display: block;
    width: 70%;
    margin: auto;
}

/* This is the container for boxes */
.row, .row2 {
    background-color: #251010;
    margin-bottom: 30px;
    padding: 40px;
}

.row2 {
    background-color: white;
}

.row:after, .row2:after {
    content: "";
    display: table;
    clear: both;
}

/* A horizontal line break */
.line {
    border-bottom: solid #251010 1px;
    margin: 30px 0;
}

/******************************************************
* Below are the different styles for paragraph content
* text ranging from light text on dark backgrounds, 
* dark text on light backgrounds, special green text
* and other varieties including link text. None of the
* heading text is found below this line.
******************************************************/

.lighttext, .darktext {
    font-size: 1.1em;
    text-align: justify;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.3em;
    font-family: roboto;
}

.lighttext {
    color: white;
}

.lighttext a {
    color: white;
}

.darktext {
    color: #251010;
}

.greentext {
    font-style: italic;
    text-align: center;
    font-size: 1.15em;
    color: #aad400;
    margin: 45px 45px;
}

#specialtext {
    font-size: 1.5em;
    font-style: normal;
    margin: 0;
}

.backdrop {
    background-color: #251010;
}

.calendar {
    color: white;
}
   
#movie {
    height: 500px;
}

/******************************************************
* Used to highlight active navigation bar tab.
******************************************************/
.thispage {
    background-color: #aad400;
    color: black;
}

footer {
    width: 100%;
    background-color: #251010;
    color: #aad400;
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 1.2em;
    font-family: roboto;
}

.sponsors {
    width: 100px;
    margin: 10px;
    max-height: 50px;
}
    
.icon {
    display: none;
}

/******************************************************
* CSS for boot camp related items
******************************************************/
#bootcampbar {
    display: none;
    padding: 7px;
    width: 900px;
    text-align: center;
    margin: auto;
    font-family: roboto;
    border-radius: 100px;
    border: solid #251010 2px;
}

#bootcampbar:hover {
    border: solid #aad400 2px;
}

html {
    scroll-behavior: smooth;
}

#bcinfo {
    text-align: center;
    font-size: 22px;
    color: #aad400;
    display: none;
    border-top: solid #aad400 2px;
    border-bottom: solid #aad400 2px;
    padding: 7px 0;
}

#regfee, #onseason {
    display: none;
}

#password {
    border-radius: 25px;
    padding: 5px;
    font-size: 18px;
    color: #aad400;
}

.save, .edit {
    font-size: 14px;
    background-color: #aad400;
    color: black;
    border-radius: 100px;
    padding: 0 7px;
}

.save {
    font-size: 20px;
    padding: 0 10px;
    margin-top: 10px;
}
  
#phonedit {
    display: none;
}

.phonehide {
    display: block;
}  
    
div.passwordblock {
    width: 645px;
    margin: auto;
    height: 200px;
}
    
#fix {
    width: 50%;
}
    
}
