.cartBtn {
    display: inline-block;
    border-radius: 4px;
    background-color: #aad400;
    border: none;
    text-align: center;
    font-size: 28px;
    width: 100px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
}

.modal-header {
    padding: 15px;
    border-bottom: 2px solid #eceeef;
}

.modal-title {
    font-size: 1.25rem;
}

.modal-dialog {

}

table.center {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #eceeef;
    padding: 10px;
    width: 50%;
    margin-bottom: .75rem;
}

.center th td {
    padding: .5rem;
    vertical-align: top;
}
